---
import LoginForm from '@components/LoginForm.svelte';
import Layout from '@layouts/Layout.astro';
import { ViewTransitions } from 'astro:transitions';
import "../app.css";
---

<Layout title="Login | Orbitas">
  <ViewTransitions/>
    <div class="flex items-center justify-center h-[calc(100vh-73px)]">
      <LoginForm client:visible />
    </div>
  </body>
</Layout>